Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [1]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [2]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

### **Engineer at least two new features. (See below for explanation & ideas.)**

In [3]:
# Look at the data
df

       bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0            1.5         3  ...                 0                    0
1            1.0         2  ...                 0                    0
2            1.0         1  ...                 0                    0
3            1.0         1  ...                 0                    0
4            1.0         4  ...                 0                    0
...          ...       ...  ...               ...                  ...
49347        1.0         2  ...                 0                    0
49348        1.0         1  ...                 0                    1
49349        1.0         1  ...                 0                    0
49350        1.0         0  ...                 0                    0
49351        1.0         2  ...                 0                    0

[48817 rows x 34 columns]

My new features would be:

1. Number of Features (sum of beneficial building features)
2. Number of Rooms (sum of bedrooms and bathrooms and dining room)

In [4]:
# Number of features (perks)
df['perks'] = df[['elevator', 'cats_allowed', 'hardwood_floors', 'dogs_allowed',
           'doorman', 'dishwasher', 'no_fee', 'laundry_in_building',
           'fitness_center', 'pre-war', 'laundry_in_unit', 'roof_deck',
           'outdoor_space', 'high_speed_internet', 'balcony',
           'swimming_pool', 'new_construction', 'terrace', 'exclusive', 'loft',
           'garden_patio', 'wheelchair_access', 'common_outdoor_space']].sum(axis=1)

In [5]:
# Number of rooms
df['rooms'] = df[['bedrooms','bathrooms','dining_room']].sum(axis=1)

In [6]:
# Confirm
df.sample()

       bathrooms  bedrooms  ... perks rooms
41863        1.0         1  ...    12   2.0

[1 rows x 36 columns]

In [7]:
# At this point I decided to trim the dataframe to features I am most most likely to use
NYCA = df.filter(items=['created','price','rooms','perks'])

### **Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.**

In [8]:
# First I look at the data
NYCA

                   created  price  rooms  perks
0      2016-06-24 07:54:24   3000    4.5      0
1      2016-06-12 12:19:27   5465    3.0      5
2      2016-04-17 03:26:41   2850    2.0      3
3      2016-04-18 02:22:02   3275    2.0      2
4      2016-04-28 01:32:41   3350    5.0      1
...                    ...    ...    ...    ...
49347  2016-06-02 05:41:05   3200    3.0      5
49348  2016-04-04 18:22:34   3950    2.0      9
49349  2016-04-16 02:13:40   2595    2.0      5
49350  2016-04-08 02:13:33   3350    1.0      5
49351  2016-04-12 02:48:07   2200    3.0      1

[48817 rows x 4 columns]

In [9]:
# I wanted to know if the 'created' column was in datetime
# Since it isn't I decided to change that to make it easier to split
NYCA['created'].dtype

dtype('O')

In [10]:
pd.to_datetime(NYCA['created'])

0       2016-06-24 07:54:24
1       2016-06-12 12:19:27
2       2016-04-17 03:26:41
3       2016-04-18 02:22:02
4       2016-04-28 01:32:41
                ...
49347   2016-06-02 05:41:05
49348   2016-04-04 18:22:34
49349   2016-04-16 02:13:40
49350   2016-04-08 02:13:33
49351   2016-04-12 02:48:07
Name: created, Length: 48817, dtype: datetime64[ns]

In [11]:
# creating subsets of train and test data to conditions
# check shapes to check for error
train = NYCA[NYCA['created'] < '2016-06-01 00:00:00']
test = NYCA[NYCA['created'] > '2016-05-31 23:59:59']
test.shape,train.shape
print('The shape of the "train" subset is', train.shape,
      '\nthe shape of test subset is', test.shape,
      '\nthe overall shape of the dataset is', df.shape, 
      '\nthe number of rows of the two sets together equal', 31844 + 16973,
      '. The split did not lose data')

The shape of the "train" subset is (31844, 4)
the shape of test subset is (16973, 4)
the overall shape of the dataset is (48817, 36)
the number of rows of the two sets together equal 48817 . The split did not lose data

In [12]:
# Double check
train = train.set_index(train['created']).sort_index()
train.head(1).append(train.tail(1))

                                 created  price  rooms  perks
created
2016-04-01 22:12:41  2016-04-01 22:12:41   3195    2.0      3
2016-05-31 23:10:48  2016-05-31 23:10:48   3095    2.0      4

In [13]:
test = test.set_index(test['created']).sort_index()
test.head(1).append(test.tail(1))

                                 created  price  rooms  perks
created
2016-06-01 01:10:37  2016-06-01 01:10:37   2150    2.0      1
2016-06-29 21:41:47  2016-06-29 21:41:47   3399    4.0      0

In [14]:
# drop the extra column for posterity
train.reset_index(drop= True, inplace=True)
test.reset_index(drop= True,inplace= True)

In [15]:
# Check
train.head(1).append(test.head(1))

               created  price  rooms  perks
0  2016-04-01 22:12:41   3195    2.0      3
0  2016-06-01 01:10:37   2150    2.0      1

### **Fit a linear regression model with at least two features.**

In [17]:
# Beginning with Baselines
aguess = round(train['price'].mean())
errs = aguess - train['price']
mae = errs.abs().mean()
print(f'The train average rent is ${aguess},')
print(f'I would be off by ${mae:,.0f} on average.')

The train average rent is $3576,
I would be off by $1,202 on average.

In [18]:
bguess = round(test['price'].mean())
err = bguess - test['price']
meanae = err.abs().mean()
print(f'The test average rent is ${bguess},')
print(f'I would be off by ${meanae:,.0f} on average.')

The test average rent is $3587,
I would be off by $1,201 on average.

### **Get the model's coefficients and intercept.**

### **Get regression metrics RMSE, MAE, and R2, for both the train and test data.**

### **What's the best test MAE you can get?**